<!-- <div style="position: relative;"> -->

<div class="container-fluid">

  <!-- <section class="justify-content-center"> -->

  <div class="test-grid-two grid-top p-3 mx-auto">

    <div class="text-center" {% if page.is_post %} data-nosnippet="true" {% endif %}>
      <div>
        <a href="{{site.urlPrefix}}"><img height="150px" src="{{site.urlPrefix}}{{site.navLogo}}"
            alt="LOGO IMG Not Found"></a>
      </div>
    </div>

    <div class="text-center">
      <!--googleoff: all-->
      <h4>Follow Us?</h4>
      <a href="https://facebook.com/defcon1dfw"><span class="bi-facebook m-2" style="font-size: 4rem;"></span></a>
      <a href="https://twitter.com/defcon1dfw"><span class="bi-twitter m-2" style="font-size: 4rem;"></span></a>
      <a href="#"><span class="bi-google m-2" style="font-size: 4rem;"></span></a>
      <!--googleon: all-->
    </div>

    <div class="text-center">
      <!--googleoff: all-->
      <h4>Website Info</h4>
      <ul class="list-unstyled mb-0">
        <li class="m-2">
          <a href="{{site.urlPrefix}}">Home</a>
        </li>
        <li class="m-2">
          <a href="{{site.urlPrefix}}contact">Contact</a>
        </li>
        <li class="m-2">
          <a href="{{site.urlPrefix}}about.html">About</a>
        </li>
        <li class="m-2">
          <a href="{{site.urlPrefix}}legal/privacy-policy">Privacy</a>
        </li>
        <li class="m-2">
          <a href="{{site.urlPrefix}}legal/terms-and-conditions">Terms of Use</a>
        </li>
      </ul>
      <!--googleon: all-->
    </div>

    <div class="text-center">
      <a href="{{site.urlPrefix}}validation/certification"><img height="150px"
          src="{{site.urlPrefix}}assets/img/iicrc-certified-logo.png" alt="LOGO IMG Not Found"></a>
      <h4>We are IICRC Certified!</h4>
    </div>

  </div>

  <!-- </section> -->

</div>
<!--googleoff: all-->
<div data-nosnippet="true" class="text-center p-4">
  © 2022 Copyright: defcon1dfw.com
  <p class="footer-disclaimer">
    {{ site.dbaOneName }} {{ site.dbaTwoName }} is not a registered financial advisor. We do not take your specific needs or 
    objectives into account until after we have assesed your property and or property damages.
  </p>
</div>
<!--googleon: all-->

<!-- </div> -->