<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noarchive">
    <meta http-equiv="content-language" content="en">

    {% seo %}

    {% if page.videoId && site.yt_img_url_base %}
    <meta property="og:image" content="{{ site.yt_img_url_base }}{{ page.videoId }}/0.jpg" />
    {% else %}

        {% if page.imgUrl %}
            <meta property="og:image" content="{{ site.url }}{{ site.urlPrefix }}{{ page.imgUrl }}" />
        {% else %}
            <meta property="og:image" content="{{ site.url }}{{ site.urlPrefix }}assets/img/primary-logo.png" />
        {% endif %}

    {% endif %}
    {% if page.author %}
    {% else %}
    <meta property="author" content="{{ site.author }}" />
    {% endif %}
    {% if page.twitterUser %}
    <meta property="twitter:creator" content="{{ site.twitterUser }}" />
    {% endif %}
    <link rel="stylesheet" href="/assets/css/boostrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="img/x-icon" href="/favicon.ico">
</head>