<head>
    <!-- Primary Meta Tags -->
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.description %}
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}" />
    <meta name="twitter:description" content="{{ page.description | default: site.description }}" />
    {% endif %}

    {% if site.author %}
    <meta name="author" content="{{ site.author }}">
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}

    {% if page.url %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% endif %}

    {% assign type = "website" %}

    <meta property="og:type" content="{{ type }}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />

    {% if page.is_post %}
    <meta name="robots" content="index, follow">
    <meta property="og:site_name" content="{{ site.title }}" />
    {% endif %}

    <!-- Title -->
    {% if site.title %}
    <meta name="twitter:title" content="{{ page.title | default: site.title }}" />
    <meta property="og:title" content="{{ page.title | default: site.title }}" />
    <title>
        {{ page.title | default: site.title }}
    </title>
    {% endif %}

    <!-- Page Links and Script -->
    <link rel="icon" href="{{site.urlPrefix}}assets/img/nav-logo.svg">
    <link href="{{site.urlPrefix}}css/boostrap/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.urlPrefix}}css/styles.css" rel="stylesheet">

    <!-- {% if layout.primary-css %}
    {% for css in layout.primary-css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
    {% endif %} -->

</head>