<header id="post-content-header-id">

    <div class="post-header">

        {% if page.title %}
        <div class="page-banner-div">
            <h1>{{ page.title }}</h1>
        </div>
        {% endif %}
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}

        <figure>
            <img class="post-header-image" src="{{ site.urlPrefix }}{{ page.imgUrl }}" alt="Not Found">
            {% if page.imgSrc %}
            <figcaption>{{ page.imgCap }} <a href="{{ page.imgSrc }}">[Image Source]</a></figcaption>
            {% endif %}
        </figure>
        {% if page.date %}
        <span>
            Written by <a href="/about" rel="noopener noreferrer">{{ page.author | default: site.author }}</a>, Posted {{ page.date | date: date_format }}
            {% if page.edit_date %}
            Last Updated on {{ page.edit_date | date: date_format }}
            {% endif %}
        </span>
        {% endif %}
        <hr>
    </div>

</header>