@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

// Base SCSS
$primaryImage: "/assets/img/polar-camo-hex.svg";
@import "base/global-variables",
        "base/global-mixins",
        "base/global-tags";

// Layouts SCSS
@import "layout/grid-sections",
        "layout/navigations";

// Components SCSS
@import "components/animations",
        "components/cards",
        "components/banners",
        "components/clip-effects",
        "components/headers";

.btn-flex {
  @include flexium(center, center);
}
.btn-flex:hover,
.btn:hover {
  color: $primary-color;
  border-color: $accent-color;
}
.btn,
.btn-flex {
  @include flat-gold-gradient(45deg);
  border-radius: 5px;
  color: $secondary-accent-color;
  font-family:"Chakra Petch", sans-serif;
  font-size: 17pt;
  font-weight: bolder;
}

hr.rounded {
  border-top: 2px solid $accent-color;
  border-radius: 5px;
}

// Containers

.container-100vw {
  width: 100vw;
}

.home-dynamic-container {
  max-width: 2000px;
  margin: auto;
}

.home-dynamic-container img {
  width: 100%;
  height: inherit;
  margin: auto;
}

.container p {
  @include boxing-mixin(0, 0);
  padding-bottom: 15px;
}
.read-container {
  @include boxing-mixin(0.5rem, 0, auto);
  max-width: 56rem;
}
.read-container h1, h2, h3, h4, h5 {
  @include heading-padding();
}

.flex-shrink-0 a {
  font-size: 1.4rem !important;
}

.figure-container {
  width: 100%;
  height: auto;
  @include flexium(center, center);
}
.figure-container img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

// -------------------------------------
// MASTER Page Media Width Collapse
// -------------------------------------

// Adjust grids on screen width
@media (max-width: 67rem) {
  .side-nav-docs {
    padding: 1.8rem;
    position: relative;
    top: 0;
    border: none;
  }
  // _grid-sections.scss
  @include dynamic-grids-collapse();
}

.main-container {
  min-height: $page-min-height;
}
