// ---------------------------
// Cards and Selection Badges
// ---------------------------

.card {
    @include all-browser-polygon-clip-path-pent(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0);
    height: 20rem;
    max-width: 39rem;
    min-width: 23rem;
    border: solid 1px $quad-color;
    background: $primary-color;
    overflow: hidden;
    margin-bottom: 10px;
}
.card-img {
    object-fit: cover;
    height: 100%;
    opacity: 0.2;
}
.card ul {
    list-style: none;
}
.card li {
    @include boxing-mixin(0, 0);
    color: $tri-color;
    font-size: 1.3rem;
}
.card li::before {
    font-family:'Bootstrap-icons';
    content:'\F26D';
    margin:0 10px 0 -15px;
    color: green;
    font-weight: bold;
}
.card h2 {
    padding: 4px;
}
.card-body {
    padding: 3px;
}
.card-fold {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 5px 1px $secondary-color;
    @include shiny-gold-gradient(45deg);
    width: 20%;
    height: 20%;
    border-radius: 1px;
}

// Option Badge cards

@mixin fire {
    animation: burn 1.5s linear infinite alternate;
  }
  
  @keyframes burn {
    from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
    45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
    70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
    to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }
  }

.options-container a {

    display: flex;
    flex-wrap: wrap;

    @include gridium(center, center);
    @include rounded-border();
    @include all-browser-animation(pulse, 2s, infinite);
    @include flat-gold-gradient(45deg);
    @include boxing-mixin(0, 0, auto);

    width: 230px;
    height: 90px;

    padding: 1px;
    font-weight: 600;
}

.options-container a:hover .service-home-icon-text {
    @include fire();
    color: white;
}

.sevice-home-options-container a {

    display: flex;
    flex-wrap: wrap;

    @include gridium(center, center);
    @include rounded-border();
    // @include all-browser-animation(pulse, 2s, infinite);
    @include flat-gold-gradient(45deg);
    @include boxing-mixin(0, 0, auto);

    width: 221px;
    height: 120px;

    padding: 1px;

    width: clamp(10rem, 10vw, 12rem);
    height: clamp(8rem, 10vw, 10rem);
    font-weight: 600;
}
.sevice-home-options-container a:hover .service-home-icon-text,
.sevice-home-options-container a:hover .service-home-icon {
    color: $primary-color !important;
}
.service-home-icon,
.service-home-icon-text {
    display: block;
    @include boxing-mixin(0, 0);
    color: $secondary-accent-color;
}
.service-home-icon {
    font-size: 4rem;
}
.service-home-icon-text {
    font-size: 1.25rem;
}

.blog-card-container {
    max-width: 1800px;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.blog-card-container-a {
    @include flexium(center, center);
    flex-wrap: wrap;
    margin: auto;
}

.post-card {
    max-width: 485px;
    padding: 2px;
}

.post-card p {
    padding: 0 15px 5px 15px;
    margin: 0;
}

.post-card:hover {
    background-color: whitesmoke;
}

.post-card-desc {
    font-size: 12pt;
}

.post-card-text {
    height: 200px;
    width: 100%;
}

.post-card-item-img-container {
    height: 325px;
    width: 100%;
}

.post-card-item-img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.post-card-date {
    font-size: 12pt !important;
    font-style: italic;
}
