---
layout: primary
---

<div class="overlay-clip-container-div secondary-color">
    <div class="overlay-clip-div clip-middle-path">
        <div class="home-banner-div-background"></div>
    </div>
    <!-- {% include particles.html %} -->
    <div class="home-banner-div">
        <h1><span class="home-banner-fat-text">{{ site.dbaOneName }}</span><br>{{ site.dbaTwoName }}</h1>

        <!-- <div class="options-container" rel="noopener noreferrer">
            <a href="{{site.urlPrefix}}contact" rel="noopener noreferrer">
                <span class="service-home-icon-text">GET A FREE QUOTE!</span>
            </a>

        </div> -->

        <div class="test-grid-two sevice-home-options-container">

            <a href="{{site.urlPrefix}}service/water" rel="noopener noreferrer">
                <span class="service-home-icon bi-water flip-x"></span>
                <span class="service-home-icon-text">WATER</span>
            </a>

            <a href="{{site.urlPrefix}}service/fire" rel="noopener noreferrer">
                <span class="service-home-icon bi-fire flip-y"></span>
                <span class="service-home-icon-text">FIRE</span>
            </a>

            <a href="{{site.urlPrefix}}service/mold" rel="noopener noreferrer">
                <span class="service-home-icon bi-virus spin"></span>
                <span class="service-home-icon-text">MOLD</span>
            </a>

            <a href="{{site.urlPrefix}}service/reconstruction" rel="noopener noreferrer">
                <span class="service-home-icon bi-hammer twitch"></span>
                <span class="service-home-icon-text">RE-CONSTRUCT</span>
            </a>

        </div>
    </div>
</div>

<div class="overlay-clip-container-div">

    <div class="overlay-clip-div clip-right-top"></div>

    <div class="container dy-page-100vh">

        <div>
            <!--googleoff: all-->
            {% include content-header.html %}
            <!--googleon: all-->
            <div class="row text-start">

                <div class="col-xl-4">
                    <div class="tile card mx-auto">
                        <img src="{{site.urlPrefix}}assets/img/polar-camo-hex.svg" draggable="false" class="card-img" alt="Polar Cammo Background">
                        <div class="card-fold"></div>
                        <div class="card-img-overlay card-body d-flex flex-column">
                            <h2 class="card-title pricing-card-title">Family Owned</h2>
                            <ul class="mt-2">
                                <li>We take pride in our work.</li>
                                <li>We care about our customers.</li>
                                <li>We give more one on one support.</li>
                            </ul>
                            <a href="{{site.urlPrefix}}about" type="button" rel="noopener noreferrer"
                                class="mt-auto btn btn-lg mx-auto btn-block">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="tile card mx-auto">
                        <img src="{{site.urlPrefix}}assets/img/polar-camo-hex.svg" draggable="false" class="card-img" alt="Polar Cammo Background">
                        <div class="card-fold"></div>
                        <div class="card-img-overlay card-body d-flex flex-column">
                            <h2 class="card-title pricing-card-title">Fully Certified</h2>
                            <ul class="mt-2">
                                <li>We are IICRC Certified.</li>
                                <li>We follow all laws and regulations.</li>
                                <li>We always prioritize safety first.</li>
                            </ul>
                            <a href="{{site.urlPrefix}}validation/certification" type="button" rel="noopener noreferrer"
                                class="mt-auto btn btn-lg mx-auto btn-block">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="tile card mx-auto">
                        <img src="{{site.urlPrefix}}assets/img/polar-camo-hex.svg" draggable="false" class="card-img" alt="Polar Cammo Background">
                        <div class="card-fold"></div>
                        <div class="card-img-overlay card-body d-flex flex-column">
                            <h2 class="card-title pricing-card-title">Insurance Pros</h2>
                            <ul class="mt-2">
                                <li>We work with all insurance.</li>
                                <li>We sort out claims quickly.</li>
                                <li>We pay close attention to detail.</li>
                            </ul>
                            <a href="{{site.urlPrefix}}validation/insurance" type="button" rel="noopener noreferrer"
                                class="mt-auto btn btn-lg mx-auto btn-block">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    {{ content }}
</div>